NEXT_PUBLIC_SUPABASE_URL="https://uobdgswxnktktwompvrf.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_vC9WmjZM19gzuwaxjYr_Kg_xa4T_Wdz"

# Use this only for server-side database migrations/admin access.
# Do not expose the password in frontend code.
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.uobdgswxnktktwompvrf.supabase.co:5432/postgres"
